<div class="container">
  <h3 class="header">Создать заявку</h3>
  <div class="inputs">
    <mat-form-field>
      <input matInput type="text" placeholder="Enter value">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Enter value">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Enter value">
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" placeholder="Enter value">
    </mat-form-field>
  </div>
</div>
