@import "~src/variables";

.toolbar {
  background-color: $white;

  .header-container {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    display: flex;
    justify-content: space-between;

    .nav-link {
      text-decoration: none;
      display: inline-block;
      color: inherit;
      font-size: 16px;
      font-weight: normal;

      &.active {
        color: $primary;
        height: 30px;
        border-bottom: 2px solid $primary;
      }

    }
  }
}

.content {
  margin: 0 auto;
  max-width: 960px;
  background-color: $gray8;
}
