@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~src/variables";

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #111;
  background-color: $gray8;
}
